
        .div1{
            width: 30%;
            height: 300px;
            background-color:rgb(36, 224, 168);
            position: relative;
            top: 120px;
            left: 29%;
            padding: 27px;
            border-radius: 12px;
        }
        button{
            position: absolute ;
            top: 252px;
            left: 300px;
        }
        #result{
            border:1px solid;
            width: 250px;
            height: 43px;
            margin-top: 10px;
            border-radius: 4px;
            font-size: 22px;
            text-align: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            padding: 3px;
        }

